version: '3.9'

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP port
      - "15672:15672"   # Management dashboard
    restart: always

  email-service:
    build: .
    container_name: email_service
    restart: always
    ports:
      - "3002:3002"
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
